
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient( 
        45deg,
     rgb(179, 226, 141)40%,
     rgb(107, 235, 240)20% ,
      rgb(149, 136, 160)80%,
      rgb(102, 167, 156)80%
      );

    padding: 0;
    margin: 5% 2% 0 0;
    background-attachment: fixed;  /* 🔥 ye important line */
    background-size: cover;        /* full screen cover karega */
    background-repeat: no-repeat;
}
.contents{
    display: flex;
    margin: 15px;
    padding: 10px;  

}

#container{
    background-color: rgb(131, 128, 128);
    padding: 15px;
    width: 30%;
    height: 350px;
    text-align: center;
    margin-top: 20px;
    box-shadow: 4px 5px 4px 10px  rgb(55, 56, 55);

}
#container input{
    padding: 10px;
    margin: 10px;
    color: aqua;
    background-color: rgb(58, 52, 52);
}
#container button{
    padding: 10px;
    background-color: rgb(100, 196, 100);
}
.header{
    color: aqua;
    width: 98%;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: baseline;
    gap: 30px;
    box-shadow: 5px 8px 12px 2px rgb(94, 92, 92),
    8px 12px 25px rgb(47, 47, 49);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}
#calculator-container{
    background-color: rgb(131, 128, 128);
    padding: 15px;
    width: 40%;
    margin-top: 20px;
    box-shadow: 4px 5px 4px 10px  rgb(55, 56, 55);
    transition: 0.3s;
    transform: scale(1);
}
#calculator-container:hover{
    transform: scale(1.05);
    background-color: rgb(112, 104, 104);
    box-shadow: 2px 5px 2px 10px rgb(78, 74, 74),
    8px 5px 5px 20px rgb(58, 58, 59);
}


#calculator-container #calculator-inputs{
    padding: 5px;
    background-color: rgb(77, 77, 77);
    color: aqua;
    width: 80%;
    font-size: 30px;
    overflow: scroll;
}
#calculator-container #calculator-results{
    padding: 5px;
    background-color: rgb(77, 77, 77);
    color: aqua;
    font-size: 30px;
    width: 20%;
    overflow: scroll;
}

#calculator-container .keys table{
    width: 95%;
    padding: 10px;
}
#calculator-container .keys table button{
    width: 90%;
    padding: 15px;
    background-color: rgb(63, 60, 60);
    color: aqua;
    border: none;
}
#calculator-container .keys table button:hover{
    background-color: rgb(69, 71, 69);
    color: aqua;
    text-shadow: 0px 0px 1px rgb(214, 213, 210);
    cursor: pointer;
    box-shadow: 0px 0px 1px 2px rgb(59, 59, 59);
}

.result-section{
    display: flex;
    background-color: sandybrown;
    height: 50px;
}

.nav {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav li {
    position: relative;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* Dropdown */
.dropdown-item {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(134, 130, 130);
    padding: 10px;
    list-style: none;
    min-width: 120px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

.dropdown-item li {
    padding: 10px 10px 5px 10px;
}

.dropdown-item li:hover {
    background-color: rgb(121, 111, 111);
}

/* Hover effect */
.dropdown:hover .dropdown-item {
    display: block;
} 